doctype html
html(lang='en', ng-app='promoterManagementApp')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title eVent
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/dashboard.css', rel='stylesheet')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-locale_pt-br.js')
    script(src='/javascripts/angular-local-storage.js')
    script(src='/javascripts/app/app.js')
    script(src='/javascripts/app/services/promoterService.js')
    script(src='/javascripts/app/services/promoterRatingService.js')
    script(src='/javascripts/app/services/promoterEarningsService.js')
    script(src='/javascripts/app/services/promoterManagementBillingService.js')
    script(src='/javascripts/app/services/promoterManagementService.js')
    script(src='/javascripts/app/services/promoterListService.js')
    script(src='/javascripts/app/controllers/promoterContactListController.js')
  body
    block content
        
